[flake8]
max-line-length = 100

per-file-ignores =
    src/: E231
    src/views/student_management.py: E713
    src/utils/email_service.py: E231
    src/views/student_dashboard.py: E203
    src/views/payment.py: E231
    src/main.py: E501
    src/models/test.py: E501